apiVersion: apps/v1
kind: Deployment
metadata:   
  annotations:  
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas" 
  name: backend-tests-go-pygkzoav
spec:
  replicas: 1 
  template: 
    spec:
      containers:
      - image: quay.io/rhtap_qe/backend-tests-go-pygkzoav:931ca7543ff339ac7f36417980f9fc555ec1a904@sha256:9262cf435d69e937ba02cb97916b298cd522ce0b6e302e3818693be257dd2c9f
        name: container-image  
